@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 208 100% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 208 100% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 197 71% 60%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 120 80% 85%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 197 71% 60%;
    --chart-1: 197 71% 60%;
    --chart-2: 120 80% 85%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 208 100% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-border: 220 13% 91%;
    --sidebar-accent: 220 14.3% 95.9%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 197 71% 60%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-ring: 197 71% 60%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 197 71% 73%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 120 93% 79%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 197 71% 73%;
    --chart-1: 197 71% 73%;
    --chart-2: 120 93% 79%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-border: 215 27.9% 16.9%;
    --sidebar-accent: 215 27.9% 16.9%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-primary: 197 71% 73%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-ring: 197 71% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
